
/* TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.75rem;
  font-weight:bold;
  color:#3b3b3b;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color:#3b3b3b;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color:#3b3b3b;
  font-weight: 300;
  letter-spacing: .05rem;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color:#3b3b3b;
}

.subs{
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  text-transform: uppercase;
  color:#3b3b3b;
  letter-spacing: .05rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  line-height: 1.8;
  color:#3b3b3b;
  font-size:1.125rem;
  font-weight: normal;
}

/* COLORS */

.active_c{
  background-color:#32e3cf;
}

.hover_c{
  background-color: #bdf0ea;
}

.primary_c{
  background-color:#283664;
}

.secondary_c{
  background-color:#F5D6E9;
}

.main_gray{
  background-color:#3b3b3b;
}

.light_gray{
  background-color:#F3F3F3;
}

/* buttons & links */

.main_button{
  border: 3px solid #32e3cf;

  padding:8px 20px;
  margin: 6px 10px 10px 0px;
  cursor: pointer;
  border-radius: 15px;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color:#3b3b3b;
  letter-spacing: .05rem;
  text-transform: uppercase;
  text-decoration: none;
}

.main_button:hover{
  border: 3px solid #32e3cf;
  background-color: #32e3cf;
  transition:.4s;
}

a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color:#3b3b3b;
    line-height: 1.8;
}

a:hover{
  color:#32e3cf;
}

/* social icons */
.social{
  background-color: #32e3cf;
  border:0;
  border-radius:12px;
  width:40px;
  height:40px;
  font-size:1rem;
  color:#3b3b3b;
  margin: 20px 0;
}

.social:hover{
  background-color: #bdf0ea;
  transition:.4s;
}
