
/* For your CSS Code*/

.hero1{
  height:700px;
}

.hero2{
  height:350px;
}

.my_menu{
 text-align: center;
}

.logo{
  width: 25%;
  margin:auto;
}

.hamburger{
  position:absolute;
  top: 0;
  right:0;
}
