
 /* THIS IS IMPORTANT! NEED TO HAVE IT SO ALL YOUR PADDING AND MARGINS WORK CORRECTLY! */
* {
    box-sizing: border-box;
}



 /*making 9 columns here */
.gridContainer {

    display: grid;

    width:96%;
    margin:0 0%;

    margin-left:auto;
    margin-right:auto;


    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: 80px 200px;

    grid-column-gap: 1%;
    grid-row-gap: 10px;
    background-color: rgba(50, 150, 150, 0.25);



     /*

     grid-gap: 10px;
     grid-gap: 10px 20px;

    justify-content: space-evenly;
    justify-content: space-between;
    justify-content: center;   >>>>> there is also start, end, space around

    align-content: center;   >>>> centers the content VERTICALLY!

    */


}

 /* THIS IS JUST A GENERIC DIV */
.grid-item {
    background-color: rgba(150, 150, 150, 0.5);
    padding: .25em;

}

/* CREATING SPECIFIC MODULES

    the numbers for grid-column are based on counting of lines between the rows,
    so 1/3 means it goes from the first line to the third line between columns
    or it spans 2 column width

*/
.item1 {
    grid-column: 1 / 3;
    background-color: rgba(255, 0, 150, 0.5);
    height:100px;
}

.item2 {
    grid-column: 3 / span 7;
    background-color: rgba(0, 255, 150, 0.5);
    height:100px;
}

.item3 {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
    background-color: rgba(100, 0, 255, 0.5);
    height:200px;
}

.item4 {
    grid-area: 4 / 3 / 5 / span 7; /* starts from row line 4 and column line 3, goes to row line 5 and spans 7 columns */
    background-color: rgba(0, 200, 255, 0.5);
    height:95px;

}

.item5 {
    grid-area: 5 / 3 / span 1 / span 3;
    background-color: rgba(0, 0, 255, 0.5);
    height:95px;

}


.item6 {
    grid-area: 5 / 6 / span 2 / 10;
    background-color: rgba(0, 200, 0, 0.5);


}

.item7 {
    grid-area: 6 / 1 / 7 / 6 ;
    background-color: rgba(120, 0, 120, 0.5);
    height: 200px;


}

.footer{
   grid-area:  7/1/8/10;
    background-color: rgba(0, 0, 0, .75);
    color:white;
}
