/* TYPOGRAPHY */

* {
  font-family: 'Arial', sans-serif;
  color: #333447;
  line-height: 1.5;
}


h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;

}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}


/* For your CSS Code*/

.hero1{
  height:700px;
  background-image:url(../img/Background_1.jpg);
}

.hero2{
  height:350px;
  background-image:url(../img/Background_2.jpg);
}

.menu{
  float:right;
}

[class^="col"] img{
  width:100%;
  margin:auto;
}

.clickable:hover img{
  opacity:.5;
}

.over{
  /* this text-align centers the text inside the dive */
  text-align: center;
  position:absolute;
  /* top and left moves it 50% to the left and down and translate adjusts for the width, so it is actually center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* this hides the header/text behind the image and the hover bring it on top of the image
      you can also use display:block and display:none to toggle the visiblity
      or opacity or visiblity properties */
  z-index:-1;
}

.clickable:hover .over{
  z-index: 1;
}
