*{box-sizing: border-box;
  }


html{
  font-family:Arial, sans-serif;
  color:#cccccc;
  background-color: inherit;
}

body{
  background-color: #e2e2e2;
  color: black;
}


.full_w{
  width:100%;
  background-color: aqua;
  color:inherit;
}


.full_w img{
  width:75%;
  display:block;
  margin:auto;

}








.small_module{
 background-color: white;
 color: black;
 width: 25%;
 display:inline-block;
}

.extra_padding{
 padding:20px;
}

.small_module:hover img{
  opacity:.5;
}

.small_module img{
 width:100%;

}

p{
 font-size: .75em;
}

h5{
 text-transform: uppercase;
}

a{
  font-size:.75em;
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color: aquamarine;
}
