*{
  box-sizing: border-box;
}

body{
  margin:0;
}

.container{
  width:86%;
  margin:auto;
  border-right:1px solid darkgray;
  border-left: 1px solid darkgray;

}

.logo{
  width:25%;
  margin:auto;
  padding-top:50px;
}

.logo img{
  width: 50px;
  display:block;
  margin:auto;

}

.menu{
  display:flex;
  flex-direction:row;
  justify-content: space-between;

  width:100%;
  text-align:center;
  margin-top:20px;

}

.menu a{
  padding: 30px 15px;
}


a:hover{
  color: pink;f

}

.hero{
  width:100%;
}

.hero img{
  width:100%;
}

.menu div{

}
