body{
  margin:0;
}

*{
  box-sizing: border-box;

}

.hero{
  float:left;
  width:100%;
  background-image: url(../img/Background_1.jpg);
  min-height:600px;
  /*
  background-size: contain;
  https://www.w3schools.com/cssref/playit.asp?filename=playcss_background-size&preval=50%25
  */
}



.logo img{
  width:50px;
}

.logo{
  float:left;
  width:30%;
}

.menu{
  float:left;
  width:70%;
}

.global_nav{
  width:100%;
  margin:auto;
  position:absolute;

}


ul{
  float:right;
  list-style: none;
}

li{
  float:left;
  padding: 14px 20px;
}

li div{
  position:absolute;
  background:white;
  display:none;

}

li:hover div{
  display:block;
}
