/* must haves! we will talk about CSS box model and talk about this box-sizing  */
* {
    box-sizing: border-box;
    margin:0;
}

body{
    margin:0px;
}

/* defining different modules */

.big_containter{
     width:96%;
     margin:auto;
    
}

.logo{
    width:33.3%;
    padding:10px;
    
    /* this is temporary: we are going to learn what "float" is soon! */
    display: inline-block;

}

nav{
    width:66%;
    text-align: right;
    padding:15px;
    /* this is temporary: we are going to learn what "float" is soon! */
    display: inline-block;
}

 /* I AM ADDING BACKGROUND IMAGES INSIDE MODULES */
.fullWidth{
   background-image: url("../img/bg_1.jpg");
   background-repeat: no-repeat;
   min-height:500px;
   width:100%;
    
}

.big_intro{
     width: 33.1%;
     margin:20px;
     color:white;
    
     /* POSITION RELATIVE TO */
     position: relative;
     top:150px;
      
}

.secondary_promo{
   max-height:300px;
   width:100%;  

   /* OVERFLOW */
    overflow:hidden;
    position:relative;
}

.sec_intro{
     width: 33.1%;
     margin:20px;
    
}

.my_row{
    width:100%;
    max-width:1440px;
    margin:auto;
    position:relative;
    
}
.col_4 {
    width: 33.1%;
    max-width: 480px;
    min-height: 150px;
    /* this is temporary: we are going to learn what "float" is soon! */
    display: inline-block; 
    padding:20px;
    margin-bottom: 30px;
    
}

.col_2 {
    width: 49.6%;
    max-width: 720px;
    
    /* this is temporary: we are going to learn what "float" is soon! */
    display: inline-block; 
    padding:0px;
    margin:0px;
    background-color: #f0f0f0;
    
    position:relative;
}

/* images */


.thumb{
    width:100%; 
    max-width:450px; 
    margin:auto;
    display:block;  
}

.thumb:hover{
    opacity: .5;
}

.thumb_2{
    width:100%; 
    margin:auto;
    display:block; 
    
    
}
.thumb_2:hover{
    opacity: .5;
}




.logo > img {
    width:150px;
    height:auto;
    padding: 10px 0px;
}


footer{
    background-color: #f0f0f0;
}

.copyright{
    width:66%;
    /* this is temporary: we are going to learn what "float" is soon! */
    display: inline-block; 
    padding:20px;
}

.social{
    text-align:right;
    width:33%;
    display: inline-block; 
}

.cardHero {
    position: absolute;
    left: 20px;
    top: 30px;
    background-color: rgba(255,255,255,.8);
    padding: 20px;
    width: 29.33%;
    min-height:180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.overheader{
    position:absolute;
    top:20px;
    left:20px;
    z-index:-1;
}

.col_2:hover .overheader{
    z-index:1;
}

















