.hero{
  background-image: url(../img/Background_2.jpg);
  min-height: 600px;
  background-position: center center;
}

.my_menu{
    position:absolute;

    top:0;
    left:0;
    background-color: rgba(0,0,0,.1);
    z-index: 1;
    width:100%;
    margin:0;

}
.logo{
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width:100%;
  max-width:150px;
}

.ham{
  font-size:1.25rem;
  padding:20px 15px;
  text-align: right;
}

.ham:hover{
  color:#fff;
}
