body{
  margin:0;
}

*{
  box-sizing: border-box;

}

.hero{
  background-image: url(../img/Background_1.jpg);
  height:100vh;
  /*
  background-size: contain;
  https://www.w3schools.com/cssref/playit.asp?filename=playcss_background-size&preval=50%25
  */
}

.row{
  width:84%;
  margin:auto;
}

.global_nav{
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
