.preloader{
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: #fff017;
  z-index: 100;
}

.preloader h2{
  position:relative;
  width:50%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  text-align: center;
}
