/* Horizontal nav */
.menu {
    font-size: 12px;

}
ul {
    /* FLOAT! */
    float:right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f6f6;
}

li {

}

li a {
    display: block;
    color: #2f2c59;
    text-align: left;
    padding: 14px 20px ;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #f0efef;

}

.active {
    background-color: #2f2c59;
    color:#00ffcc;
}
