
html{
  font-family:Arial, sans-serif;
  color:black;
  line-height: 1.4em;
}

p{
 font-size: .75em;
}

h5{
 text-transform: uppercase;
}

a{
  font-size:.75em;
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color: aquamarine;
}
