
body{
  background-color:#f0f0f0;
}

.container{
  background-color: white;
}
.logo img{
  width: 150px;
  margin: 20px;
}

header{
  height:60px;
}
.hero{
  height: 700px;
  background-image: url(../img/Background_1.jpg);
}

.hero2{
  height: 700px;
  background-image: url(../img/Background_2.jpg);
}
